@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Consumir Cosmo com HttpClientFactory</h3>
    <img src="~/images/Captura de tela 2023-05-31 001511.png" asp-append-version="true"/>
</div>
